<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>


<!--<% if user_signed_in? %>-->
  
          <!--  <li class="nav-item">-->
          <!--    <a class="nav-link js-scroll-trigger">로그인 유저 : <%= current_user.email %></a>-->
          <!--  </li>-->
          <!--<% end %>-->
  
          <!--<li class="nav-item">-->
          <!--  <% if user_signed_in? %>-->
          <!--    <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link js-scroll-trigger" %>-->
          <!--  <% else %>-->
          <!--    <%= link_to "로그인", new_user_session_path, class: "nav-link js-scroll-trigger" %>-->
          <!--  <% end %>-->